<div class="main-content">
    <!-- Sección de contacto -->
    <section class="contact">
        <h3 class="contact-title">Contáctanos</h3>
        <address class="contact-info">
            <p><strong>Hospital La Paz</strong><br> 4a avenida 23-61, zona 3, Quetzaltenango</p>
            <br>
            <strong>Centro Médico Integral <br> de Cancerología (CEMIC)</strong>
            <p>Carretera Interamericana, Kilómetro 194, <br> Quetzaltenango</p>
            <br>
            <p><strong>Email</strong> <br> <a href="mailto:anaisabelchivalan@hotmail.com">anaisabelchivalan@hotmail.com</a></p>
            <br>
            <p><strong>Emergencias </strong><br> 4260 - 0026</p>
        </address>
    </section>

    <!-- Ubicaciones -->
    <section class="featured-section">
        <h4>Hospital La Paz</h4>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19224.422436050038!2d-91.53054755224822!3d14.828770128187768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e98039ebd3a93%3A0x74007a8b7bd26646!2sHospital%20La%20Paz!5e1!3m2!1ses-419!2sgt!4v1743112461675!5m2!1ses-419!2sgt" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <br><br><br><br><br><br><br>
        <h4>Centro Médico Integral de Cancerología (CEMIC)</h4>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77058.35992610331!2d-91.56144742473238!3d14.828869951325725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858ea392b6dc26dd%3A0x15ad0fb443ed102!2sCEMIC%20Quetzaltenango!5e1!3m2!1ses-419!2sgt!4v1743112610553!5m2!1ses-419!2sgt"
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </section>

    <!-- Formulario -->
    <form class="contact-form" #contactForm="ngForm" (ngSubmit)="enviarFormulario(contactForm)">
        <!-- Campo: Nombres -->
        <mat-form-field appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput type="text" name="nombres" ngModel required />
        </mat-form-field>
      
        <!-- Campo: Teléfono -->
        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput type="tel" name="telefono" ngModel />
        </mat-form-field>
      
        <!-- Campo: Email -->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" ngModel required />
        </mat-form-field>
      
        <!-- Campo: Dirección -->
        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput type="text" name="direccion" ngModel />
        </mat-form-field>
      
        <!-- Campo: Mensaje -->
        <mat-form-field class="message-box" appearance="fill">
          <mat-label>Mensaje</mat-label>
          <textarea matInput rows="6" name="mensaje" ngModel></textarea>
        </mat-form-field>
      
        <!-- Botón de Enviar -->
        <div style="width: 100%; display: flex;">
          <div class="button-container">
            <button class="custom-button" type="submit">Enviar</button>
          </div>
        </div>
      </form>
      
</div>

<!-- Footer -->
<footer class="footer">
    Dra. Ana Isabel Chivalán ©2025
</footer>
