.hero {
    position: relative;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('./img/services_1.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(10px);
        z-index: 0;
    }
}

/* Card Genérico */
.card {
    background: rgba(30, 90, 116, 0.7);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact {
    color: #A3C4D6;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.contact-info {
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-label {
        color: #A3C4D6;
        font-size: 25px;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-family: fantasy;
        width: 100%;
        text-align: center;
    }

    .contact-text {
        color: #E1E1E1;
        line-height: 1.5;
        font-size: 23px;
        width: 100%;
        text-align: center;
    }

    a {
        color: #E1E1E1;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
            color: #A3C4D6;
        }
    }
}

.contact-title {
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    margin-bottom: 1.6rem;
    color: #A3C4D6;
}

/* Map Section */
.map-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .map-title {
        font-size: 25px;
        font-family: fantasy;
        color: #A3C4D6;
        margin-bottom: 1rem;
    }

    iframe {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        flex-grow: 1;

        @media (min-width: 768px) {
            height: 400px;
        }
    }
}

/* Estilo del botón */
button.custom-button {
    background-color: #E1E1E1 !important;
    color: #1E5A74 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 520;
    font-size: 16px !important;
    padding: 12px 24px !important;
    border-radius: 8px !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    margin-left: auto;
    display: block;
}

button.custom-button:hover {
    background-color: #15485A;
}

/* Contenedor principal */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "card1 card2"
            "card3 card4";
    }
}

/* Asegurar igual altura en cada fila */
@media (min-width: 768px) {
    .main-content {
        grid-auto-rows: 1fr;

        &>.card {
            min-height: 0;
        }
    }
}

.elegant-input {
    width: 100%;
    margin-bottom: 1rem;
}

.elegant-input .mat-icon {
    color: #0c5277;
    margin-right: 8px;
}

.elegant-textarea .mat-form-field-outline {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Footer */
.footer {
    background: linear-gradient(to right, #3A8684, #1E5A74);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 520;
    color: #E1E1E1;
    clear: both;
}