<section class="services">
  <div class="background-blur"></div>
  <div class="services-container">
    <mat-card *ngFor="let service of services" class="service-card">
      <mat-card-header>
        <mat-icon>{{ service.icon }}</mat-icon>
        <mat-card-title>{{ service.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content><br>
        <p>{{ service.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  Dra. Ana Isabel Chivalán ©2025
</footer>

