<div class="main-content">
    <div class="cards-container">
        <div class="card card-1">
            <div class="card-image"></div>
            <h3>Dra. Ana Chivalán</h3>
            <p>Cirugía General <br> Cirugía Oncológica</p>
        </div>
        <div class="card card-2">
            <div class="card-image"></div>
            <h3>Horarios de atención</h3>
            <p>Lunes a Viernes de 12:00 a 18:00 horas <br>
                Sábados de 8:00 a 13:00 horas
            </p>
        </div>
        <div class="card card-3">
            <div class="card-image"></div>
            <h3>Hospital La Paz</h3>
            <p>4a avenida 23-61, zona 3, Quetzaltenango</p>
            <h3>Centro Médico Integral de Cancerología (CEMIC)</h3>
            <p>Carretera Interamericana, Kilómetro 194, Quetzaltenango</p>
            <h3>Email</h3>
            <p><a href="mailto:anaisabelchivalan@hotmail.com">anaisabelchivalan@hotmail.com</a></p>
            <h3>Emergencias</h3>
            <p>4260 - 0026</p>
        </div>
    </div>
    <section class="hero"></section>
</div>

<!-- Footer -->
<footer class="footer">
    Dra. Ana Isabel Chivalán ©2025
</footer>
