<div class="main-content">
    <!-- Título principal -->
    <section class="hero">
        <div class="hero-text">
            <h1>EXPERTOS EN ONCOLOGÍA Y <br> CIRUGÍA</h1>
            <p>"Comprometidos con tu salud en cada <br> etapa del tratamiento del cáncer"</p>
        </div>
    </section>

    <!-- Imagen destacada -->
    <section class="featured-section">
        <div class="featured-content">
            <div class="featured-image"></div>
            <div class="doctor-info">
                <h2>Dra. Ana Isabel Chivalán - Cirujana Oncóloga</h2>
                <p>Cirugía General</p>
                <p>Cirugía Oncológica</p>
            </div>
        </div>
    </section>

    <!-- Horarios de atención -->
    <section class="schedule">
        <div class="schedule-content">
            <div class="schedule-image"></div>
            <div class="schedule-text">
                <h3>Horarios de atención</h3>
                <p>Lunes a Viernes de 12:00 a 18:00 horas</p>
                <p>Sábados de 8:00 a 13:00 horas</p>
            </div>
        </div>
    </section>

    <!-- Sección de contacto -->
    <section class="contact">
        <h3 class="contact-title">Contáctanos</h3>
        <address class="contact-info">
            <p><strong>Hospital La Paz</strong><br> 4a avenida 23-61, zona 3, Quetzaltenango</p>
            <br>
            <strong>Centro Médico Integral <br> de Cancerología (CEMIC)</strong>
            <p>Carretera Interamericana, Kilómetro 194, <br> Quetzaltenango</p>
            <br>
            <p><strong>Email</strong> <br> <a
                    href="mailto:anaisabelchivalan@hotmail.com">anaisabelchivalan@hotmail.com</a></p>
            <br>
            <p><strong>Emergencias </strong><br> 4260 - 0026</p>
        </address>
    </section>


    <!-- Formulario -->
    <form class="contact-form" #contactForm="ngForm" (ngSubmit)="enviarFormulario(contactForm)">
        <div class="form-group">
            <!-- Campo: Nombres -->
            <mat-form-field appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput type="text" name="nombres" ngModel required />
                <mat-error
                    *ngIf="contactForm.form.controls['nombres']?.invalid && contactForm.form.controls['nombres']?.touched">
                    Este campo es obligatorio.
                </mat-error>
            </mat-form-field>

            <!-- Campo: Teléfono -->
            <mat-form-field appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput type="tel" name="telefono" ngModel />
            </mat-form-field>

            <!-- Campo: Email -->
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" ngModel required />
                <mat-error
                    *ngIf="contactForm.form.controls['email']?.invalid && contactForm.form.controls['email']?.touched">
                    Este campo es obligatorio.
                </mat-error>
            </mat-form-field>

            <!-- Campo: Dirección -->
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput type="text" name="direccion" ngModel />
            </mat-form-field>
        </div>

        <!-- Campo: Mensaje -->
        <mat-form-field class="message-box" appearance="fill">
            <mat-label>Mensaje</mat-label>
            <textarea matInput rows="6" name="mensaje" ngModel required></textarea>
            <mat-error
                *ngIf="contactForm.form.controls['mensaje']?.invalid && contactForm.form.controls['mensaje']?.touched">
                Este campo es obligatorio.
            </mat-error>
        </mat-form-field>

        <!-- Botón de Enviar -->
        <div style="width: 100%; display: flex;">
            <div class="button-container">
                <button class="custom-button">Enviar</button>
            </div>
        </div>
    </form>

</div>

<!-- Footer -->
<footer class="footer">
    Dra. Ana Isabel Chivalán ©2025
</footer>