.hero {
  position: relative;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url('./img/services_1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  background-position: center top;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: 0;
  }
}

.cards-container {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1;

  .card {
    background: rgba(30, 90, 116, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 530px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;

    .card-image {
      width: 400px;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin-top: 100px;
      position: absolute;
      top: -60px;
    }

    h3 {
      font-size: 25px;
      color: #A3C4D6;
      margin-top: 450px;
      font-family: fantasy;
    }

    p {
      font-size: 23px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 520;
      color: #E1E1E1;
      line-height: 1.6;
      margin-bottom: 15px;
    }

    a {
      color: #E1E1E1;
      text-decoration: none;
      font-weight: bold;
    }

    &.card-1 .card-image {
      background-image: url('./img/publi_1.jpg');
    }

    &.card-2 .card-image {
      background-image: url('./img/consulta_1.jpg');
    }

    &.card-3 {
      .card-image {
        display: none; // No imagen en la tercera card
      }

      h3 {
        margin-top: 50px; // Ajustamos margen para el primer título
        font-size: 25px; // Tamaño más pequeño
        color: #A3C4D6; 
        
      }

      p {
        font-size: 23px; // Un poco más pequeño para evitar separación
        line-height: 1.3;
        margin-bottom: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 520;
      }

      a {
        color: #E1E1E1; // Azul claro para el enlace
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

/* Footer */
.footer {
  background: linear-gradient(to right, #3A8684, #1E5A74);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 520;
  color: #E1E1E1;
}
