<div class="about-wrapper">
    <section class="about about-1">
        <div class="about-container">
            <div class="about-card">
                <div class="about-image"></div>
            </div>
            <div class="about-content">
                <h2>Sobre la Dra. Ana Chivalán</h2>
                <p>
                    Con más de [X] años de experiencia, se especializa en el tratamiento integral del cáncer. Su enfoque está orientado a 
                    ofrecer a cada paciente un tratamiento personalizado, considerando tanto sus necesidades físicas como emocionales.
                </p>
            </div>
        </div>
    </section>

    <section class="about about-2">
        <div class="about-container">
            <div class="about-card">
                <div class="about-image"></div>
            </div>
            <div class="about-content">
                <h2>Misión</h2>
                <p>
                    Su misión es ofrecer a cada paciente esperanza, acompañamiento y el acceso a los últimos avances en oncología.<br>  
                    <br> A través de su dedicación y experiencia, busca transformar el tratamiento del cáncer en una 
                    experiencia más humana y compasiva.
                </p>
            </div>
        </div>
    </section>

    <section class="about about-3">
        <div class="about-container">
            <div class="about-card">
                <div class="about-image"></div>
            </div>
            <div class="about-content">
                <h2>Visión</h2>
                <p>
                    Su visión es lograr una atención de oncología basada en principios científicos, pero también profundamente humanos, 
                    buscando siempre la mejora continua y el acceso a las mejores opciones terapéuticas. <br>
                    <br>Está comprometida en proporcionar esperanza y un camino claro hacia la recuperación, 
                    no solo para los pacientes, sino también para sus familias.
                </p>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer class="footer">
    Dra. Ana Isabel Chivalán ©2025
</footer>
