<mat-toolbar color="primary" class="custom-toolbar">
    <div class="logo-container">
        <span class="title">Dra. Ana Isabel<br>Chivalán</span>
    </div>
    <span class="spacer"></span>
    <nav class="nav-links">
        <a mat-button routerLink="/inicio">Inicio</a>
        <a mat-button routerLink="/nosotros">Nosotros</a>
        <a mat-button routerLink="/servicios">Servicios</a>
        <a mat-button routerLink="/contacto" class="contact-link">Contáctanos</a>
    </nav>
</mat-toolbar>